Source: yandex-tank-api
Maintainer: Andrei Sekretenko <asekretenko@gmail.com>
Section: python
Priority: optional
Build-Depends: python-setuptools (>= 0.6b3), python-all (>= 2.6.6-3), python-dev, dh-virtualenv, debhelper (>= 7.4.3)
Standards-Version: 3.9.5

Package: yandex-tank-api
Architecture: all
Depends: ${misc:Depends}, ${python:Depends}, yandex-tank, python-daemon (>=1.5.5), python-tornado (>=3.1)
Description: Yandex.Tank HTTP API
 ============
 yandex-tank-api
 ============
 .
 Yandex.Tank HTTP API
 .
 See README.md
 .
