!!! 5
html(lang="en")
  head
    meta(charset="utf-8")
    meta(http-equiv="X-UA-Compatible", content="IE=edge")
    meta(name="viewport", content="width=device-width, initial-scale=1")
    title Yandex.Tank management console
    link(rel="shortcut icon", href="static/favicon.ico", type="image/x-icon")
    link(rel="icon", href="static/favicon.ico", type="image/x-icon")
    link(rel="stylesheet", href="static/css/bootstrap.min.css")
    link(rel="stylesheet", href="static/css/bootstrap-theme.min.css")
    link(rel="stylesheet", href="static/css/custom.css")
    script(src="static/js/vendor/jquery.js")
    script(src="static/js/vendor/underscore.js")
    script(src="static/js/vendor/ace/ace.js")
    script(src="static/js/vendor/angular.js")
    script(src="static/js/vendor/bootstrap.js")
    script(src="static/js/vendor/ui-bootstrap-tpls.js")
    script(src="static/js/vendor/ace/mode-ini.js")
    script(src="static/js/vendor/ace/ui-ace.js")
    script(src="static/js/manager.js")
  body
    .app.container(ng-app="ng-tank-manager", ng-controller="TankManager")
      h1.page-header Yandex.Tank management console
      //#status {{!status}}
      //#reply {{!reply}}
      p
        .tank-config(ui-ace, ng-model="tankConfig")
      p
        button.btn.btn-warning(ng-click="runTest()") Run test
        span &nbsp;
        button.btn.btn-default(ng-click="stopTest()") Stop test
      p
        progressbar.progress-striped.active(value="progress", max="maxProgress") {{!sessionStatus}}
      .btn-group
        label.btn.btn-primary(ng-repeat="stage in stages", ng-model="$parent.breakPoint", btn-radio="stage", ng-disabled="$parent.btnDisabled(stage)") {{!stage}}
      p {{!sessionStatus}}
      
